<link rel="stylesheet" href="css/style.css">
<header class="main-header">
    <div class="header-container">
        <div class= "header-logo">
            <a href="/">
                <img src="/images/logo.png" alt="GreenWave">
            </a>
        </div>
        <div class="search-container">
                <input type="text" class= "search-input" placeholder="Buscar productos y mas...">
                <button type="submit" class="search-button">Buscar</button>
        </div>
        <div class="header-cuenta">
            <a href="/login">Ingresá / Crea tu cuenta</a>
        </div>
    </div>
</header>