
.login-container {
    background: #ffffff;
    color: #333;
    width: 400px;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.login-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #056a5b;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login-container button {
    background: #056a5b;
    color: #fff;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.login-container button:hover {
    background: #32b876;
}

.login-container a {
    margin-top: 15px;
    color: #056a5b;
    font-size: 0.9rem;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}
.custom-button {
    background-color: #6AA84F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #5b9444; /* Color más oscuro para efecto hover */
}

